@charset "UTF-8";
/* VARIABLES AND IMPORTS
*************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/* MIXINS
 *************************************************************************************************/
/* GENERAL LAYOUT
 *************************************************************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 400 11pt/17pt Montserrat;
  width: 652px;
  margin: auto;
  color: #000;
}
@media screen and (max-width: 600px) {
  body {
    width: 90%;
    margin: 1em auto;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font: 400 24pt/30pt "Lora";
  color: #000;
}

h2 {
  margin: 0 0 2mm 0;
  padding: 0;
  font: 500 15pt/22pt "Lora";
  color: #000;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  color: #0074CC;
}

/* COLORS
 *************************************************************************************************/
.background.color-1 {
  background-color: #ffcbf2;
}
.background.color-1.muted {
  background-color: rgba(255, 203, 242, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-1.muted.dead {
  background-color: rgba(255, 203, 242, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-2 {
  background-color: #f3c4fb;
}
.background.color-2.muted {
  background-color: rgba(243, 196, 251, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-2.muted.dead {
  background-color: rgba(243, 196, 251, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-3 {
  background-color: #ecbcfd;
}
.background.color-3.muted {
  background-color: rgba(236, 188, 253, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-3.muted.dead {
  background-color: rgba(236, 188, 253, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-4 {
  background-color: #e5b3fe;
}
.background.color-4.muted {
  background-color: rgba(229, 179, 254, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-4.muted.dead {
  background-color: rgba(229, 179, 254, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-5 {
  background-color: #e2afff;
}
.background.color-5.muted {
  background-color: rgba(226, 175, 255, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-5.muted.dead {
  background-color: rgba(226, 175, 255, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-6 {
  background-color: #deaaff;
}
.background.color-6.muted {
  background-color: rgba(222, 170, 255, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-6.muted.dead {
  background-color: rgba(222, 170, 255, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-7 {
  background-color: #d8bbff;
}
.background.color-7.muted {
  background-color: rgba(216, 187, 255, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-7.muted.dead {
  background-color: rgba(216, 187, 255, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-8 {
  background-color: #d0d1ff;
}
.background.color-8.muted {
  background-color: rgba(208, 209, 255, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-8.muted.dead {
  background-color: rgba(208, 209, 255, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-9 {
  background-color: #c8e7ff;
}
.background.color-9.muted {
  background-color: rgba(200, 231, 255, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-9.muted.dead {
  background-color: rgba(200, 231, 255, 0.25);
  color: rgba(0, 0, 0, 0.45);
}
.background.color-10 {
  background-color: #c0fdff;
}
.background.color-10.muted {
  background-color: rgba(192, 253, 255, 0.55);
  color: rgba(0, 0, 0, 0.65);
}
.background.color-10.muted.dead {
  background-color: rgba(192, 253, 255, 0.25);
  color: rgba(0, 0, 0, 0.45);
}

/* PRINT MEDIA PAGING
*************************************************************************************************/
@media print {
  @page {
    size: A4;
    margin: 17mm 17mm 17mm 17mm;
    @bottom-center {
      content: "Page " counter(page) " of " counter(pages);
    }
  }
  @page :first {
    margin-top: 30mm;
  }
}
/* SECTIONS
 *************************************************************************************************/
section.space-above {
  margin-top: 10mm;
}
@media screen {
  section.space-above-screen {
    margin-top: 10mm;
  }
}
section.personal {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto;
  column-gap: 10mm;
  row-gap: 2mm;
  grid-template-areas: "name name photo" "address contacts photo" "bullets bullets photo";
}
@media screen and (max-width: 600px) {
  section.personal {
    grid-template-columns: auto;
    grid-template-areas: "photo" "name" "bullets" "address" "." "contacts";
  }
}
section.personal a {
  text-decoration: none;
  color: inherit;
}
section.personal h1 {
  grid-area: name;
}
section.personal .details {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section.personal .details.address {
  grid-area: address;
}
section.personal .details.contacts {
  grid-area: contacts;
  text-align: left;
}
@media screen and (max-width: 600px) {
  section.personal .details.contacts {
    text-align: left;
  }
}
section.personal .details li {
  line-height: 100%;
  padding: 0 0 2.2mm 0;
}
section.personal .photo {
  grid-area: photo;
  width: 100%;
  width: 45.5mm;
  height: 54mm;
  background-image: url(portrait.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: grayscale(100%);
  box-shadow: 3px 3px 1px 0px #333;
}
@media screen and (max-width: 600px) {
  section.personal .photo {
    width: 100%;
    height: 450px;
  }
}
section.personal .bullets {
  grid-area: bullets;
  list-style-type: none;
  margin: 2mm 0 0 0;
  padding: 0;
  font: 500 112%/165% "Lora";
}
@media screen and (max-width: 600px) {
  section.personal .bullets {
    margin-bottom: 1em;
  }
}
section.personal .bullets > li::before {
  content: "»";
  padding-right: 1.5mm;
}
section.profile p:not(:last-child) {
  margin-bottom: 2mm;
}
section.jobs .keywords {
  display: none;
}
section.tech {
  break-before: page;
}
section.tech p {
  margin-bottom: 2mm;
}
@media screen and (max-width: 600px) {
  section.tech .scroll-x {
    max-width: 100%;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 600px) {
  section.tech .scroll-x .timeline {
    width: 652px;
    overflow-x: scroll;
  }
}
section.tech ul.notes {
  list-style-type: none;
  margin: 2Jcccmm 0 0 0;
  padding: 0;
}
section.tech ul.notes li {
  margin: 0;
  padding: 0;
  font-size: 80%;
  line-height: 140%;
}
section.education {
  break-before: page;
}
section.education .languages {
  margin: 10mm 0 0 0;
}
section.education .languages em {
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  section.education .languages em {
    display: block;
  }
}

/* COMPONENTS
 *************************************************************************************************/
ul.accomplishments {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.accomplishments > li {
  display: grid;
  grid-template-columns: 54mm auto;
  column-gap: 1mm;
  row-gap: 0;
  grid-template-areas: "timespan title" ". annotations" ". description" ". keywords";
  margin: 0;
  padding: 1mm;
  break-inside: avoid;
}
ul.accomplishments > li:nth-child(odd) {
  background-color: #eee;
}
@media screen and (max-width: 600px) {
  ul.accomplishments > li {
    grid-template-columns: auto;
    grid-template-areas: "timespan" "title" "annotations" "description" "keywords";
    padding: 1em 0.5em;
    border-radius: 4px;
  }
}
ul.accomplishments > li .timespan {
  grid-area: timespan;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  ul.accomplishments > li .timespan {
    padding-bottom: 1em;
  }
}
ul.accomplishments > li .title {
  grid-area: title;
  font-weight: 500;
}
ul.accomplishments > li .annotations {
  grid-area: annotations;
  font-size: 90%;
}
ul.accomplishments > li .description {
  grid-area: description;
  font-size: 90%;
}
ul.accomplishments > li .description > .note {
  font-style: italic;
}
ul.accomplishments > li .keywords {
  grid-area: keywords;
  font-size: 85%;
  font-style: italic;
}

.timeline {
  position: relative;
  font-family: "Montserrat";
  font-size: 9.9pt;
  line-height: 15.3pt;
}
.timeline .timeline-layer {
  display: grid;
  grid-template-columns: [y97] 1fr [y98] 1fr [y99] 1fr [y00] 1fr [y01] 1fr [y02] 1fr [y03] 1fr [y04] 1fr [y05] 1fr [y06] 1fr [y07] 1fr [y08] 1fr [y09] 1fr [y10] 1fr [y11] 1fr [y12] 1fr [y13] 1fr [y14] 1fr [y15] 1fr [y16] 1fr [y17] 1fr [y18] 1fr [y19] 1fr [y20] 1fr [y21] 1fr;
  grid-auto-rows: auto;
  row-gap: 2px;
  column-gap: 2px;
  position: relative;
  overflow-x: hidden;
  z-index: 1000;
}
.timeline .timeline-layer.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.timeline .timeline-layer.backdrop.pre-career {
  z-index: 100;
  grid-template-rows: calc(100% - 15.3pt - 2px);
}
.timeline .timeline-layer > h3 {
  display: flex;
  align-items: center;
  text-align: center;
  grid-column: 1/-1;
  margin: 0;
  padding: 1pt 0 2pt 0;
  background-color: rgba(0, 0, 0, 0);
  color: #aaa;
  font: 500 8.8pt/7.7pt Montserrat;
}
.timeline .timeline-layer > h3::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dedede;
}
.timeline .timeline-layer > h3::after {
  content: "";
  flex: 11;
  border-bottom: 1px solid #dedede;
}
.timeline .timeline-layer > h3:not(:empty)::before {
  margin-right: 2mm;
}
.timeline .timeline-layer > h3:not(:empty)::after {
  margin-left: 2mm;
}
.timeline .timeline-layer > h3:not(:first-child) {
  padding-top: 8mm;
}
.timeline .timeline-layer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.timeline .timeline-layer > div.separator {
  grid-column: 1/-1;
  height: 2mm;
}
.timeline .timeline-layer > div.overflow-left {
  justify-content: end;
  direction: rtl;
  unicode-bidi: plaintext;
  padding-right: 1mm;
}
.timeline .timeline-layer > div.overflow-right {
  justify-content: start;
  padding-left: 1mm;
}
.timeline .timeline-layer > time {
  border: none;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 90%;
}
.timeline .timeline-layer > time:first-of-type {
  grid-column: 1;
}

/*# sourceMappingURL=cv.css.map */
